body {
  background-color: white;
}

img {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out;  
    }

    img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.0);
    }

img.half {
  width: 50%;
  height: auto;
  float: left;
  padding: 10px 5px;
}
.heroImgs {
width: 100%;
margin: 0;
padding: 0;
background-color: yellow;
}